<div class="autocomplete-container">
  <input
    type="text"
    class="form-control"
    [placeholder]="placeHolder"
    (keyup)="onKeyPress(txtInputValue.value, $event)"
    #txtInputValue
    id="txtInput"
    autocomplete="off"
  />
  <ul *ngIf="sugerencias.length > 0" class="autocomplete-suggestions">
    @for (sugerencia of sugerencias; track $index) {
    <li
      (click)="selectSuggestion($index)"
      [class.selected]="$index == selectedIndex"
    >
      {{ sugerencia.nombres + " " + sugerencia.apellidos }}
    </li>
    }
  </ul>
</div>
